<div class="card" *ngFor="let jeu of listeJeux">
  <div class="card-header">
    <h2 class="card-title">{{ jeu.nom }}</h2>
  </div>
  <div class="card-body">
    <ul>
      <li><strong>Public :</strong> {{ jeu.type }}</li>
      <li><strong>Âge minimum :</strong> {{ jeu.age_min }}</li>
      <li><strong>Âge maximum :</strong> {{ jeu.age_max }}</li>
      <li>
        <strong>Nombre de joueurs minimum :</strong> {{ jeu.nb_joueur_min }}
      </li>
      <li>
        <strong>Nombre de joueurs maximum :</strong> {{ jeu.nb_joueur_max }}
      </li>
      <li><strong>Durée d'une partie :</strong> {{ jeu.duree }}</li>
    </ul>
  </div>
</div>
